button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    outline: none;
}

.valentine-gif{
    width: 250px;
    margin-bottom: 1rem;
}

.container {
    text-align: center;
    padding: 2rem;
    max-width: 700px;
    width: 100%;
    position: relative;
}

.title {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #d6336c;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn {
    padding: 0.9rem 2.2rem;
    font-size: 1.1rem;
    border-radius: 999px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.btn.yes {
    background-color: #51cf66;
    color: #fff;
    position: static
}

.btn.yes:hover {
    transform: scale(1.05);
}

.btn.no {
    background-color: #ff6b6b;
    color: #fff;
    position: relative;
}

.btn.no:hover {
    transform: scale(0.95);
}

#message {
    margin-top: 3rem;
    font-weight: bolder;
    font-size: 1rem;
    color: #555;
    min-height: 1.5em;
    transition: opacity 0.3s ease;
}
